name: Deploy Behavior Pack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy Behavior Pack
        shell: powershell
        run: |
          $src = $env:GITHUB_WORKSPACE
          $dst = "D:\MinecraftBedrockServers\v1.21.132.3\development_behavior_packs\petek_mc_bp"

          Write-Host "Copy dari: $src"
          Write-Host "Ke: $dst"

          if (!(Test-Path $dst)) {
            New-Item -ItemType Directory -Path $dst | Out-Null
          }

          robocopy $src $dst /MIR /XD .git .github

          if ($LASTEXITCODE -ge 8) {
            throw "Robocopy ERROR dengan exit code $LASTEXITCODE"
          } else {
            Write-Host "Robocopy sukses (exit code $LASTEXITCODE)"
          }

      - name: Restart Bedrock Server
        shell: powershell
        run: |
          Get-Process bedrock_server -ErrorAction SilentlyContinue | Stop-Process -Force
          Start-Process "D:\MinecraftBedrockServers\v1.21.132.3\bedrock_server.exe"
