name: Deploy Behavior Pack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy Behavior Pack
        shell: powershell
        run: |
          $src = $env:GITHUB_WORKSPACE
          $dst = "D:\MinecraftBedrockServers\v1.21.132.3\development_behavior_packs\petek_mc_bp"

          if (Test-Path $dst) {
            Remove-Item $dst -Recurse -Force
          }

          Copy-Item $src $dst -Recurse -Force

      - name: Restart Bedrock Server
        shell: powershell
        run: |
          $exe = "D:\MinecraftBedrockServers\v1.21.132.3\bedrock_server.exe"
          $dir = "D:\MinecraftBedrockServers\v1.21.132.3"

          Write-Host "Stopping bedrock_server..."
          Get-Process bedrock_server -ErrorAction SilentlyContinue | Stop-Process -Force

          Start-Sleep -Seconds 3

          Write-Host "Starting bedrock_server..."
          Start-Process -FilePath $exe -WorkingDirectory $dir
