name: Deploy Behavior Pack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy Behavior Pack
        shell: powershell
        run: |
          $src = $env:GITHUB_WORKSPACE
          $dst = "D:\MinecraftBedrockServers\v1.26.0.2\development_behavior_packs\petek_mc_bp"

          if (Test-Path $dst) {
            Remove-Item $dst -Recurse -Force
          }

          Copy-Item $src $dst -Recurse -Force

      - name: Restart Bedrock Server (Interactive)
        shell: powershell
        run: |
          Write-Host "Stopping bedrock_server..."
          Get-Process bedrock_server -ErrorAction SilentlyContinue | Stop-Process -Force

          Start-Sleep -Seconds 5

          Write-Host "Trigger scheduled task..."
          schtasks /run /tn "StartBedrockInteractive"
